<div class="text-black-50">
  <% if notification.action == "TimelineTransferRequest" || notification.action == "TimelineTransferAccept" || notification.action == "TimelineTransferReject" || notification.action == "TimelineTransferred" %>
    <i class="fas fa-bezier-curve fa-fw"></i> タイムラインの譲渡
  <% end %>
</div>
