<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7 mt-3">
      <%= render 'layouts/header/common', hl: "フォロー中のユーザー" %>
      <%= render 'layouts/users', users: @users %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
