<main>
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <h1>ユーザーページ</h1>
        <p><b>ユーザーネーム: </b>@<%= @user.username %></p>
        <p><b>表示名:</b> <%= @user.display_name %></p>
        <p><b>自己紹介:</b> <%= @user.introduction %></p>
      </div>
    </div>
  </div>
</main>
