<div class="sticky-top bg-white pb-2 border-bottom mb-3">
  <%= render "layouts/header-links" %>
  <div class="d-flex">
    <div class="align-self-center">
      <p class="mb-0 h5"><b><%= hl %></b></p>
      <p class="mb-0 text-black-50"><small>@<%= id %></small></p>
    </div>
    <div class="align-self-center ml-auto mr-2">
      <%= link_to link, class: "text-secondary", "title" => "戻る" do %>
        <i class="fas fa-reply fa-lg"></i>
      <% end %>
    </div>
  </div>
</div>
