<div class="sticky-top bg-white border-bottom pb-2 mb-3">
  <%= render "layouts/header-links" %>
  <p class="mb-0 h5"><b><%= hl %></b></p>
  <p class="mb-0 text-black-50"><small>@<%= id %></small></p>
</div>
