<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7 mt-3">
      <div class="d-flex sticky-top border-bottom pb-2 mb-2">
        <div class="align-self-center">
          <p class="mb-0 h5"><b><%= @timeline.display_name %></b></p>
          <p class="mb-0 text-black-50"><small>@<%= @timeline.timelinename %></small></p>
        </div>
        <% if user_signed_in? && @timeline.user_id == current_user.id %>
        <div class="align-self-center ml-auto">
          <%= link_to edit_timeline_path(@timeline.timelinename), class: "text-secondary", "title" => "編集する" do %>
            <i class="fas fa-pen fa-lg"></i>
          <% end %>
        </div>
        <% end %>
      </div>
      <div>
        <p><%= @timeline.introduction %></p>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
