<% if flash[:danger] %>
  <div class="alert alert-danger text-break">
    <%= flash[:danger] %>
  </div>
<% elsif flash[:success] %>
  <div class="alert alert-success text-break">
    <%= flash[:success] %>
  </div>
<% end %>