<div class="col-2 position-absolute nbs-css-sidebarnav pt-3">
  <ul class="nav flex-column">
    <!-- ホーム -->
    <li class="nav-item">
      <h3 class="text-primary">なでりー</h3>
    </li>
    <li class="nav-item">
      <%= link_to home_path, class: "nav-link" do %>
        <i class="fas fa-home fa-lg fa-fw"></i> ホーム
      <% end %>
    </li>

    <!-- タイムライン -->
    <li class="nav-item">
      <% if controller_name == "timelines" && action_name == "index" %>
        <span class="nav-link text-muted">
          <i class="fas fa-bezier-curve fa-lg fa-fw"></i> タイムライン
        </span>
      <% else %>
        <%= link_to timelines_path, class: "nav-link" do %>
          <i class="fas fa-bezier-curve fa-lg fa-fw"></i> タイムライン
        <% end %>
      <% end %>

      <ul class="nav flex-column ml-3">
        <li class="nav-item">
          <% if controller_name == "timelines" && (action_name == "new" || action_name == "create") %>
            <span class="nav-link text-muted">
              <i class="fas fa-plus fa-fw"></i> タイムライン作成
            </span>
          <% else %>
            <%= link_to new_timeline_path, class: "nav-link" do %>
              <i class="fas fa-plus fa-fw"></i> タイムライン作成
            <% end %>
          <% end %>
        </li>
      </ul>
    </li>

    <!-- 通知 -->
    <li class="nav-item">
      <% if controller_name == "notifications" %>
        <span class="nav-link text-muted">
          <i class="fas fa-bell fa-lg fa-fw"></i> 通知
        </span>
      <% else %>
        <%= link_to notifications_path, class: "nav-link" do %>
          <span class="d-flex">
            <span class="align-self-center">
              <i class="fas fa-bell fa-lg fa-fw"></i> 通知
            </span>
            <% if current_user.notifications_any? %>
            <span class="align-self-center ml-auto">
              <span class="badge badge-pill badge-primary">!</span>
            </span>
            <% end %>
          </span>
        <% end %>
      <% end %>

    </li>
  </ul>
</div>