<div class="col-2 nbs-css-sidebarnav">
  <ul class="nav flex-column">
    <!-- ホーム -->
    <li class="nav-item">
      <h3 class="text-primary">なでりー</h3>
    </li>
    <li class="nav-item">
      <%= link_to home_path, class: "nav-link" do %>
        <i class="fas fa-home fa-lg fa-fw"></i> ホーム
      <% end %>
    </li>
    <!-- タイムライン -->
    <li class="nav-item">
      <% if action_name != "index" %>
        <%= link_to timelines_path, class: "nav-link" do %>
          <i class="fas fa-bezier-curve fa-lg fa-fw"></i> タイムライン
        <% end %>
      <% else %>
        <span class="nav-link text-muted">
          <i class="fas fa-bezier-curve fa-lg fa-fw"></i> タイムライン
        </span>
      <% end %>
      <% if controller_name == "timelines" %>
        <ul class="nav flex-column ml-3">
          <li class="nav-item">
            <% if action_name != "new" && action_name != "create" %>
              <%= link_to new_timeline_path, class: "nav-link" do %>
                <i class="fas fa-plus fa-fw"></i> タイムライン作成
              <% end %>
            <% else %>
              <span class="nav-link text-muted">
                <i class="fas fa-plus fa-fw"></i> タイムライン作成
              </span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>
  </ul>
</div>